{% extends 'base.html.twig' %}

{% block title %}
    Création d'une categorie
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center">Création d'une categorie</h1>
        {% include 'Backend/Categories/_form.html.twig' with { buttonLabel: 'Créer' } %}
        <a href="{{ path('admin.categories.index') }}" class="btn btn-secondary mt-4">Retour à la liste</a>
    </section>
{% endblock %}