{% extends 'base.html.twig' %}

{% block title %}
    Update d'une categorie
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container mt-4">
        <h1 class="text-center">Mise a jour d'une categorie</h1>
        {% include 'Backend/Categories/_form.html.twig' with { buttonLabel: 'update' } %}
        <a href="{{ path('admin.Categories.index') }}" class="btn btn-secondary mt-4">Retour à la liste de categories</a>
    </section>

{% endblock %}