{% extends 'base.html.twig' %}

{% block title %}
	Création d'un article
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Création d'un article</h1>
		{% include 'Backend/Articles/_form.html.twig' with { buttonLabel: 'Créer' } %}
		<a href="#" class="btn btn-secondary mt-4">Retour à la liste</a>
	</section>
{% endblock %}
