{% extends 'base.html.twig' %}

{% block title %}
	Administration des articles
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des articles</h1>
		<a href="{{ path('admin.articles.create') }}" class="mt-2 btn btn-primary">Créer un article</a>
		<div class="blog-list mt-2">
			{% for article in articles %}
				{% include 'Components/_articleCard.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
